<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Login</title>
</head>

<body>
    <div class="form">
        <div class="cadastro">
            <fieldset class="irPara">
                <div class="titulo-criar-acess">
                    Olá, amigo!
                </div>
                <div class="testo-pequenho-acess">
                    Introduza os seus dados pessoais e conecte-se conosco!
                </div>
                <div >
                    <button class="button-acess-cad" action="cadastro.html"> Cadastrar-se</button>
                </div>
                
            </fieldset>
        </div>
        <form method="post">
            <fieldset class="fieldset">
                <div class="log">
                <div class="titulo-acess">Olá, seja bem vindo!</div>

                <div class="preeencher">
                    <input type="email" class="input" placeholder="E-mail" required />
                </div>
            
                <div class="preeencher">
                    <input type="password" class="input" placeholder="Senha" required />
                </div>
                <div>
                    <button class="button-acess">Entrar</button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</body>

</html>